# ifconfig app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname / domain
BASE_HOST_NAME=myhostname
BASE_DOMAIN_NAME=example.com

# Optional: current public IPv4/IPv6 to advertise
CURRENT_IP_4=
CURRENT_IP_6=
